.footer {
    text-align: center;
    background-color: whitesmoke;
    border-top: 2px solid gray;
    width: 100%;
    height: 40px;
    line-height: 35px;
    margin-top: 40px;
}

.red-social {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    float: right;
    margin-right: 5px;
}

#nombre-footer {
    float: left;
    padding-right: 10px;
}

img {
    width: 40px;
    height: 30px;
}