
    <div class="row" id="nav">
        <div class="col" id="navs"><a routerLink="/inicio">Inicio</a></div>  
        <div class="col" id="navs"><a routerLink="/estudios">Estudios</a></div>
        <div class="col" id="navs"><a routerLink="/certificados">Certificados</a></div>
        <div class="col" id="navs"><a routerLink="/experiencia">Experiencia</a></div>
        <div class="col" id="navs"><a routerLink="/sobre-mi">Sobre Mí</a></div>
        <div class="col" id="navs"><a routerLink="/proyectos">Proyectos</a></div>
    </div>  

