#nav {
    background: rgb(71,6,6);
    background: radial-gradient(circle, rgba(71,6,6,1) 0%, rgba(24,44,113,1) 0%, rgba(11,35,62,1) 100%); 
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 10px;
    text-align: center;
    height: 60px;
    line-height: 33px;
}

#nav a {
    text-decoration: none;
    color: white;
    transition: 200ms all;
}

#nav a:hover {
    color: gray;
    font-size: 20px;
}