.skills {
    border: 1px solid gray;
    border-radius: 0.2em;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.titulo {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 1px solid whitesmoke;
    border-radius: 0.2em;
}

.imagenes {
    display: inline-block;
}