<div class="row" id="subnav">
    <div class="col"><i class="fa-solid fa-id-card-clip"></i></div>
  </div>

<div class="row" id="sobremi">

    <!-- medio -->
    <img src="../../assets/persona/c_{{santiago.img}}" alt="foto-persona" class="img-fluid img-thumbnail">

    <!-- izquierda -->

    <div class="row" id="div-izquierda">
        <div class="col-12" id="div-mayor">
            <p><span class="div-campo">nombre</span><span class="valor-campo">{{santiago.nombre}}</span></p>
        </div>
        <div class="col-12" id="div-mayor">
            <p><span class="div-campo">apellido</span><span class="valor-campo">{{santiago.apellido}}</span></p>
        </div>
        <div class="col-12" id="div-mayor">
            <p><span class="div-campo">edad</span><span class="valor-campo">{{santiago.edad}}</span></p>
        </div>
        <div class="col-12" id="div-mayor">
            <p><span class="div-campo">fecha de nacimiento</span><span class="valor-campo">{{santiago.fecha_de_nacimiento}}</span></p>
        </div>
    </div>

    <!-- derecha -->

    <div class="row" id="div-derecha">
        <div class="col-12" id="div-mayor">
            <p><span class="div-campo">teléfono</span><span class="valor-campo">{{santiago.telefono}}</span></p>
        </div>
        <div class="col-12" id="div-mayor">
            <p><span class="div-campo">email</span><span class="valor-campo" style="text-transform: lowercase;">{{santiago.email}}</span></p>
        </div>
        <div class="col-12" id="div-mayor">
            <p><span class="div-campo">dirección</span><span class="valor-campo">{{santiago.direccion}}</span></p>
        </div>
    </div>

    <!-- abajo -->

    <div class="row">
        <div class="textarea">
            {{santiago.descripcion}}
        </div>
    </div>

    <app-skills></app-skills>

</div>

