<div class="row" id="subnav">
  <div class="col"><i class="fa-solid fa-address-card"></i></div>
</div>

<div class="experiencia">
    <div class="datos">       
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV-Wj5SFOux8Hs5JVpBqxB0uZOtcE-UeqO1A&usqp=CAU" alt="imagen-experiencia"> 
        <div class="descripcion">
            <span></span>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Lugar</th>
            <th scope="col">Direccion</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lugar de comida X</td>
            <td>Av. avenida 123</td>
            <td>6 meses</td>
            <td>24/00/0000</td>
            <td>24/00/0000</td>
          </tr>
        </tbody>
      </table>

</div>
