<div class="row" id="subnav">
  <div class="col"><i class="fa-solid fa-address-card"></i></div>
</div>

<div class="experiencia" *ngFor="let exp of experiencias;let i=index">
    <div class="datos">       
        <img src="../../assets/experiencias/c_{{exp.img}}" class="img-fluid img-thumbnail" alt="imagen-experiencia"> 
        <div class="descripcion">
            <span>{{exp.descripcion}}</span>
        </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Lugar</th>
            <th scope="col">Dirección</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{exp.lugar}}</td>
            <td>{{exp.direccion}}</td>
            <td>{{exp.tiempo}}</td>
            <td>{{exp.desde}}</td>
            <td>{{exp.hasta}}</td>
          </tr>
        </tbody>
    </table>
    </div>
</div>
