<div class="row" id="subnav">
  <div class="col"><i id="logo" class="fa-solid fa-school"></i></div>
</div>

<div class="estudios">
  <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Institución</th>
            <th scope="col">Completo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Certificado</th>
            <th scope="col">Link Certificado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudio of estudios;let i=index;">
            <td>{{estudio.institucion}}</td>
            <td *ngIf="estudio.completo == false">No</td>
            <td *ngIf="estudio.completo == true">Si</td>
            <td>{{estudio.fecha}}</td>
            <td>{{estudio.certificado}}</td>
            <td>{{estudio.link_certificado}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>