<div class="row" id="subnav">
  <div class="col"><i id="logo" class="fa-solid fa-school"></i></div>
</div>

<div class="estudios">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Institucion</th>
            <th scope="col">Completo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Certificado</th>
            <th scope="col">Link Certificado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>

</div>