.estudios {
    width: 95%;
    min-height: 500px;
    border: 1px solid rgb(219, 212, 212);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#subnav {
    background-color:gray;
    height: 25px;
    text-align: center;
}

i {
    font-size: 20px;
}