<div class="inicio">

    <h3>Tecnologías utilizadas</h3>

    <hr>
    <p><i class="fa-solid fa-globe"></i> HTML</p>
    <p><i class="fa-solid fa-globe"></i> Bootstrap</p>
    <p><i class="fa-solid fa-globe"></i> Spring boot</p>
    <p><i class="fa-solid fa-globe"></i> Angular</p>
    <p><i class="fa-solid fa-globe"></i> MySQL</p>
    <hr>

    <h4>Curriculum Vitae</h4>
    <p><i class="fa-solid fa-download"></i></p>
    <p><i class="fa-solid fa-file-pdf"></i></p>
    
     <hr>

    <p style="text-align: left; margin-left: 5px;">
        Portfolio anterior:  <a href="https://arg-programa-a7c01.web.app/login" target="_blank">https://arg-programa-a7c01.web.app/login</a>
    </p>


</div>

<app-footer></app-footer>